body {
  font-family: 'Helvetica';
  color: #a6a4a1;
  background: black;
}

.content {
  background: #383635;
  margin: 1em;
  padding: 2em;
  padding-top: 1em;
  border-radius: 1em;
} 

.game-unordered-list {
  list-style: none;
  float: center;
  padding: 0px;
}

a {
  color: #a6a4a1;
  text-decoration: none;
}

a:hover {
  color: #bfcfcd;
}

hr {
  color: #bfcfcd;
  background: #bfcfcd;
  border-color: #bfcfcd;
}

.all-games {
  display: block;
}

.overlay {
  position: relative;
  float: left;
  color: #ED9121;
  background-color: rgba(0,0,0,0.5);
}
.title {
  width: 300px;
  height: 200px;
}

#title-1 {
  background-image: url(http://placekitten.com/g/200/100);
}