html {
    background-image: url(../img/bg3.jpg);
    min-width: 480px;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgba(255,255,255,.5);
	margin: 0px;
}

nav {
	border-bottom: rgba(255,255,255,.5) 1px solid;
	color: rgba(255,255,255,.5);
}

.section-content {
	margin-right: auto;
	margin-left: auto;
}

.section-content > img {
	display: block;
}

.head-section {
    text-align: center;
    padding: 5em;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

.section-container {
	background: rgba(236, 240, 241, 0.5);
	display: block;
	margin-top: 5em;
	padding: 5em;
	overflow: auto;
}

.content-container {
	float: left;
	width: 50%;
	display: block;
}

.right {
	text-align: left;
	margin-right: auto;
}

.left {
	text-align: right;
	margin-left: auto;
}

.image {
	margin-left: auto;
	margin-right: auto;
}

.top-title {
	color: rgba(255,255,255,.6);
}

.main-title {
	color: rgba(255,255,255,.7);
}

p {
	color: rgba(255,255,255,.8);
}

.button {
    border: rgba(255,255,255,.5) 1px solid;
    border-radius: 1em;
    margin: 2em;
    padding: 1.5em;
    text-decoration: none;
    color: rgba(255,255,255,.5);
}

.page-scroll {
	border-radius: 100%;
	margin-top: 10em;
}

.scroll-down {
	border-top: 1px rgba(255,255,255,.15) solid;
	margin: 5em;
	margin-top: 5em;
	text-align: center;
}

a:hover{
    text-decoration: none;
    color: rgba(255,255,255,.75);
    border: rgba(255,255,255,.75) 1px solid;
    background: rgba(255,255,255,.25);
}

input[type="email"], textarea {
	border: none;
	background: rgba(255,255,255,.25);
	padding: 1em;
	margin: 3em;
	color: rgba(50,50,50,.5);
	text-align: center;
}

input[type="email"]:focus, textarea:focus {
	outline: 0;
	box-shadow: inset 0 0 0 #ffffff;
}

input[type="email"]:invalid {
	border: rgba(255,190,100,1) 1px solid;
}

#progressbar {
	width: 75%;
	border: rgba(255,255,255,.5) solid;
	border-radius: 1em; /* (height of inner div) / 2 + padding */
	padding: .2em;
	margin-right: auto;
	margin-left: auto;
}

#progressbar > div {
	background-color: rgba(255,255,255,.5);
	height: 1.4em;
	border-radius: .8em;
}

.subscribe {
	max-width: 50em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}